<!doctype html>
<html>

<head>
  <title>Latte Milk Boba Bar</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&family=Montserrat+Alternates&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
 

    <div class="page-header text-center">
      <h1 class="latteBar">The Latte Milk Boba Bar</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>



    <div class="leftSide">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-6">
        <div class="dummySide">


        <h3>Orders</h3>


        <ul class="displayOrders">
          <% for(var i=0; i<orders.length; i++) {%>


            <li class="message">
              <span>
                <%= orders[i].flavor %>
              </span>

              <span>
                <%= orders[i].mixins %>
              </span>

              <span>
                <%= orders[i].msg %>
              </span>
              <!-- //on click we are going to run the function of completeMyOrder -->
              <button class="gotOrder" onclick="completeMyOrder('<%= orders[i]._id %>')">I Received My Order!</button>

          
            </li>
            <% } %>
        </ul>

        <h3>Completed Orders</h3>
        <ul class="completedOrders">
          <% for(var i=0; i<completedOrders.length; i++) {%>

<!--want to also add a rating feature if time allows-->
            <li class="message">
              <span>
                <%= completedOrders[i].flavor %>
              </span>

              <span>
                <%= completedOrders[i].mixins %>
              </span>

              <span>
                <%= completedOrders[i].msg %>
              </span>
              <!-- //on click we are going to run the function of delete my order -->
              <button class="gotOrder" onclick="deleteMyOrder('<%= completedOrders[i]._id %>')"><i class="fa fa-trash-o"
                  aria-hidden="true"></i> </button>

             
            </li>
            <% } %>
        </ul>
      </div>
      </div>

    </div>







      <div class="col-sm-6">
  <div class="rightSide">




        <!--this is the additional notes section of the order-->
        <form action="/customerOrders" method="POST" class="theSelection">

         
          <div class="radioButtons">
            <h2>pick a flavor:</h2>
            <input type="radio" name="flavor" value="taro">
            <label for="someflavor">taro</label><br>

            <input type="radio" name="flavor" value="red bean">
            <label for="someflavor">red bean</label><br>

            <input type="radio" name="flavor" value="strawberry">
            <label for="someflavor">strawberry</label>

            <input type="radio" name="flavor" value="mango">
            <label for="someflavor">mango</label>

            <input type="radio" name="flavor" value="pineapple">
            <label for="someflavor">pineapple</label>

            <input type="radio" name="flavor" value="coffee">
            <label for="someflavor">coffee</label>
          </div>



        
          <div class="mixins">

              <h2>pick a mix-in:</h2>
            <input type="radio" name="mixins" value="tapioca pearls">
            <label for="somemixins">tapioca pearls</label><br>

            <input type="radio" name="mixins" value="popping boba">
            <label for="somemixins">popping boba</label><br>

            <input type="radio" name="mixins" value="banana">
            <label for="somemixins">banana</label>

            <input type="radio" name="mixins" value="fresh fruit">
            <label for="somemixins">fresh fruit</label>

            <input type="radio" name="mixins" value="chocolate chips">
            <label for="somemixins">chocolate chips</label>

            <input type="radio" name="mixins" value="팥앙금">
            <label for="somemixins">팥앙금</label>
          </div>

          <!-- <input type="text" value="<%= user.local.email %>" name="name"> -->
          <input type="text" class="notes" placeholder="any notes?" name="msg">
          <button type="submit" class="orderBtn">Order Now</button>
        </form>
      </div>
    </div>
    

    <script src="main.js"></script>

</body>

</html>